#about-us {
    .image {
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .find-out-more {
        color: var(--circus-primary);
        font-size: 0.8rem;

        .welcome {
            font-size: 0.8rem;
        }
    }

    .check-icon {
        color: var(--circus-primary);

        svg {
            width: 15px;
        }
    }

    .find-btn {
        background-color: var(--circus-success);
        color: var(--circus-lighter);
        text-transform: uppercase;
        display: inline-block;
        padding: 0.7rem 1.5rem;
    }
}