footer {

    .social-icons {
        display: flex;
        gap: 1rem;

        .icon-link {
            text-decoration: none;
            color: var(--circus-grey);

            svg {
                width: 20px;
            }
        }
    }

    .link {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .footer-bottom {
        font-size: 0.9rem;
    }
}