/* @import 'normalize.css'; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

:root {
  --circus-lighter: white;
  --circus-primary: #EC6C5B;
  --circus-text-dark: black;
  --circus-success: #4CC083;
  --circus-success-bg: #E2F3F0;
  --circus-warning: #f8bf61;
  --circus-warning-bg: #ffeed3;
  --circus-primary-bg: #ffe9e5;
  --circus-grey: #6d757e;
  --circus-grey-bg: #e0e5eb;
}